/* ----------------------------------------------- GENERAL --------------------------------------------------*/


@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

body {
  font-family: Tahoma,Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
}

a:link,
a:visited {
  color: #31312b;
  text-decoration: none;
}
a:hover {
  color: #df6e12;
  text-decoration: none;
}
/* ----------------------------------------------- HOME PAGE ----------------------------------------------- */

/* --- To remove RSS image from search box --- */
#exlidSearchBanner, .EXLFooterTile div.EXLFooterUpdateContainer div.EXLFooterLastUpdate {display:none;}

/* --- To remove Last Update line ---*/
.EXLFooterTile div.EXLFooterUpdateContainer div.EXLFooterLastUpdate {display:none;} 
#exlidMainMenuTile div.EXLMainMenuContainer {float:right; width:40em}

/*--- To remove last bar on first row of footer ---*/
.EXLFooterTile li { float:left; text-indent:0.5em; padding-right:0.8em; border-right:1px solid #FFFFFF; }

/*--- To remove subscribe to Library News Feeds button from search bar---*/
#exlidSearchBanner {display:none;}

/*--- To remove Update My Screen Automatically line ---*/
.EXLFooterAutoUpdate {display:none}

/* ----------------------------------------------- HEADER ----------------------------------------------- */

/*--- To expand the header image area --- */
#exlidHeaderTile{padding: 0; width:100%;}
.EXLSearchWrapper{clear:both;}
#exlidMainMenuTile {display:none;}
#exlidUserAreaTile {position:absolute;right:0;top:0;z-index:20;height:25px}
/* .EXLSignOut is the className for the Sign In and Sign Out labels */
#exlidUserAreaRibbon .EXLSignOut { font-weight: bold }


#top-bar-links {
  clear: both;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size:90%;
  line-height: 18px;
  letter-spacing: 1px;
  color: #c5cfd7;
  background-color: #23231f;
  border-bottom: solid 4px #df6e12;
}
#top-bar-links li {
  display: inline-block;
  margin: 0;
  padding: 4px 0.2em;
}
#top-bar-links li a:link,
#top-bar-links li a:visited {
  color: #c5cfd7;
}
#top-bar-links li a:hover {
  color: #df6e12;
}

#header-links {
  width: 98%;
  font-family: 'Lean O Sans FY W04',sans-serif;
  font-weight: bold;
  font-size: 13px;
  padding: 0;
  margin: 0;
  color: #23231f;
}
#header-links a {
  width: 15%; /* depends on number of links -- 100 / number of links */
  margin: 0 0 1em 0;
  padding: 2em 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #c9c4b8;
}
#header-links a:first-child {
  padding: 1em 0 0 0;
}
#header-links a:last-child {
  border-right: 1px solid #c9c4b8;  
}
#header-links a:link,
#header-links a:visited  {
 color: #23231f;
}
#header-links a:hover {
  color: #df6e12;
}
/*
#header-links .fa {
  border-radius: 50%;
  background-color: #df6e12;
  padding: 8%;
}
*/

/* --------------------------------------------- USER AREA ---------------------------------------------- */
#exlidUserAreaTile {
  background-color: #23231f;
}
#exlidUserAreaRibbon {
  color: #c9c4b8;
  height: 25px;  
}
#exlidUserAreaRibbon li {
  background-image: none;
  font-size: 90%;
  padding-top: 4px;
}
#exlidUserAreaRibbon li a {
  color: #c9c4b8;
}
#exlidUserAreaRibbon li span.EXLUserAreaStart {
  display:none;
}
#exlidUserAreaRibbon li span.EXLMyShelfStarSelected {
  background-image: url(icon_star_on.png);
}
#exlidUserAreaRibbon li.EXLUserName {
  color: #c9c4b8;
}

/* ----------------------------------------------- FOOTER ----------------------------------------------- */

/* keep the footer at the bottom */
.EXLResultsTile,
.EXLHomeContainer {
  min-height: 30em;
}
.EXLFooterTile {
  font-family : sans-serif;
  font-size: 18px;
  background-color: #168C4C;
  background-image: none;
  padding: 3em;
  color: white;
}

.EXLFooterTile li {
  padding: 40px;
  border-right: none;
}
.EXLFooterTile li.EXLFooterFirstLink {
  padding: 0;
}
.EXLFooterTile a:link,
.EXLFooterTile a:visited {
  color: white;
}
.EXLFooterTile a:hover {
  color: #ff0;
}

/* ----------------------------------------------- SEARCH AND SCOPES----------------------------------------------- */

/* Hide the scopes limiter on the Simple Search (leave it on the Advanced Search) */
#scopesList { display: none; }
.EXLSearchFieldRibbonFormSearchFor { width: 96% }

/* ----------------------------------------------- BRIEF RESULTS ----------------------------------------------- */

/* hide the Show bX Hot Articles thing */
#resultsHeaderNoId > .EXLCustomLayoutTile:first-child { display: none; }

.EXLTabsRibbon div li.EXLResultTab a { color: #31312b; }

/* --- To remove Tags & Reviews Tab ---*/
.EXLTabsRibbon div li.EXLReviewsTab {display:none;}
/* --- To remove the Requests Tab (merged with "Locations" to be "Locations and Requests" --- */
.EXLTabsRibbon div li.EXLRequestTab {display:none;}

/* add some padding between title/link and rest of the metadata */
.EXLSummaryContainer .EXLResultTitle { margin-bottom: 0.7em; }

.EXLSliderRefine a,
.EXLSliderRefine a:hover,
.EXLSliderRefine a:visited {
  background-color: #0075b0;
  background-image: linear-gradient(#30A5e0, #0075b0);
  color: white;
}
/* more slider stuff */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  color: #0075b0;
}
 
/* really define the facet sections 
.EXLFacetContainer {
  border: 1px solid #0075b0;
  padding: 0.1em;
  border-radius: 0.2em;
}
.EXLFacetContainer ol li {
  margin: 0;
  padding: 0.2em;
  border-bottom: 1px solid lightgrey;
}
.EXLFacetContainer ol li:last-child {
  border-bottom: none;
}
.EXLFacetContainer h1,
.EXLFacetContainer h3 {
  color: white;
  background-color: #30A5e0;
  background-image: linear-gradient(#0075b0, #30A5e0);
  padding: 0.2em;
  margin: 0;
  border: none;
  border-top: none;
  border-bottom: none;
  border-radius: 0.2em 0.2em 0 0;
}
.EXLFacetContainer h4{
  color: white;
  background-color: #0075b0;
  background-image: linear-gradient(#30A5e0, #0075b0);
  padding: 0.2em;
  margin: 0 0 0.4em 0;
}
.EXLFacetContainer h4:first-child {
  border-radius: 0.2em 0.2em 0 0;
}

/* hide the down arrow under 'More options' (becuase the options don't appear below, but rather above */
.EXLFacetsDisplayMore img { display: none; }


/* --- To remove Locations Tab for Alma customers .EXLTabsRibbon div li.EXLLocationsTab {display:none;}---*/
/* --- To remove Request Tab for Alma customers .EXLTabsRibbon div li.EXLRequestTab {display:none;}---*/

/* --- To add line counts for IE6/7 ---*/
.EXLResultsList td.EXLResultNumber { vertical-align: middle; display:table-cell; display:block; width:1%; }

/* --- To add line counts for IE<=8 Firefox ---*/
.EXLResultsList td.EXLResultNumber { vertical-align: middle; display:block; width:1%; }
html:not([ie8andbelow]) .EXLResultsList td.EXLResultNumber { vertical-align: middle; display:table-cell; }

