/* ----------------------------------------------- GENERAL --------------------------------------------------*/

@font-face {
  font-family 'QuicksandBook';
  src: url('http://www.novanet.ns.ca/wp-content/themes/novanet/css/Quicksand_Book-webfont.eot');
    src: url('http://www.novanet.ns.ca/wp-content/themes/novanet/css/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.novanet.ns.ca/wp-content/themes/novanet/css/Quicksand_Book-webfont.woff2') format('woff2'),
         url('http://www.novanet.ns.ca/wp-content/themes/novanet/css/Quicksand_Book-webfont') format('woff'),
         url('http://www.novanet.ns.ca/wp-content/themes/novanet/css/Quicksand_Book-webfont.ttf') format('truetype'),
         url('http://www.novanet.ns.ca/wp-content/themes/novanet/css/Quicksand_Book-webfont.svg#quicksandbook') format('svg');
  font-weight: normal;
  font-style: normal;
}

a:link,
a:visited {
 color: #272727;
 text-decoration: none;
}
a:hover {
  color: #f2ac00;
  text-decoration: underline;
}

.EXLResultTitle a:link, .EXLResultTitle a:visited  {
  border-bottom: 1px solid #f2ac00;
  color: #000;
}

.EXLResultTitle a:hover, .EXLResultTitle a:focus {
  border-bottom: 1px solid #707372;
  color: #707372;
  text-decoration: none;
}
/* ----------------------------------------------- HOME PAGE ----------------------------------------------- */

/* --- To remove RSS image from search box --- */
#exlidSearchBanner, .EXLFooterTile div.EXLFooterUpdateContainer div.EXLFooterLastUpdate {display:none;}

#exlidMainMenuTile {
    clear: right;
    float: right;
    margin-bottom: 0;
    /* margin-top: 0.8em; */
    vertical-align: text-top;
    width: 49em;
}


/* --- To remove Last Update line ---*/
.EXLFooterTile div.EXLFooterUpdateContainer div.EXLFooterLastUpdate {display:none;} 
#exlidMainMenuTile div.EXLMainMenuContainer {float: left;width: 40em;}


/*--- To remove last bar on first row of footer ---*/
.EXLFooterTile li { float:left; text-indent:0.5em; padding-right:0.8em; border-right:1px solid #FFFFFF; }

/*--- To remove subscribe to Library News Feeds button from search bar---*/
#exlidSearchBanner {display:none;}

/*--- To remove Update My Screen Automatically line ---*/
.EXLFooterAutoUpdate {display:none}

/* ----------------------------------------------- HEADER ----------------------------------------------- */

#top-bar-links {
  color: #707372;
  height: 19px;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#top-bar-links a {
  font-family: ClassicGrotesque,Arial,sans-serif;
  font-weight: bold;
  font-size: smaller;
}
#top-bar-links li {
  display: inline-block;
  padding: 0.1em;
  margin: 0 0 0 1em;
}

#exlidHeaderContainer {
  
}
#exlidHeaderTile {
  padding: 0;
}
/*--- To expand the header image area --- */
#exlidHeaderTile{width:100%;}
.EXLSearchWrapper{clear:both;}
//#exlidMainMenuTile {display:none;}
#exlidUserAreaTile {position:absolute;right:0;top:0;z-index:20;height:25px}
/* .EXLSignOut is the className for the Sign In and Sign Out labels */
#exlidUserAreaRibbon .EXLSignOut { font-weight: bold }




#logo {
    float: left;
    margin: 1em 0 0 1em;
    padding: 0;
}

#header-links {
  font-family: ClassicGrotesque,Arial,sans-serif;
  font-weight: normal;
  font-size: 21px;
  letter-spacing: 1px;
  float: right;
  margin: 1.4em;
  padding: 0;
  color: #707372;
}
#header-links a:link,
#header-links a:visited  {
  color: #707372;
  text-decoration: none;
  background: url("http://util-dev.library.dal.ca/advanced_search/bullet-arrow.gif") no-repeat scroll 12px 1.3em rgba(0, 0, 0, 0);
  font-size: 0.63em;
  font-weight: bold;
  padding: 14px 10px 13px 21px;
}

#header-links a:hover {
  color: #f2ac00;
  text-decoration: none;
}

/* ----------------------------------------------- Content ----------------------------------------------- */
#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock2 {
    float: left;
    margin-left: 2em;
    padding-left: 1em;
    width: 30em;
}

/* ----------------------------------------------- FOOTER ----------------------------------------------- */

/* keep the footer at the bottom */
.EXLResultsTile,
.EXLHomeContainer {
  min-height: 35em;
}

#footerEXL {
  font-family : QuicksandBook, Quicksand, Helvetica, Arial, sans-serif;
  font-size: 21px;
  letter-spacing: -1px;
  background-image: none;
  min-height: 70px;
  color: white;
}
#footerEXL a:link,
#footerEXL a:visited {
  color: #707372;
  text-decoration: none;
  background: url("http://util-dev.library.dal.ca/advanced_search/bullet-arrow.gif") no-repeat scroll 12px 1.3em rgba(0, 0, 0, 0);
  font-size: 0.63em;
  font-weight: bold;
  padding: 14px 10px 13px 21px;
}
#footerEXL a:hover {
  color: #f2ac00;
  text-decoration: none;
 }
 
#fixed-live-help {
  position: fixed;
  left: 80%;
  bottom: 10px;
  border: 2px solid white;
  border-radius: 0.3em;
  padding: 0 0.4em 0.1em 0.2em;
  background-color: #0075b0;
  background-image: linear-gradient(#30A5e0, #0075b0);
  color: white;
  box-shadow: 0 0 2px 2px #0075b0;
  cursor: pointer;
}
#fixed-live-help span {
  display: inline;
  vertical-align: middle;
  white-space: nowrap;
}
#live-help-logo {
  display: inline;
  vertical-align: middle;
  height: 1em;
  width: auto;
}

/* ----------------------------------------------- SEARCH AND SCOPES----------------------------------------------- */

/*--- To change width of advanced search button ---*/
#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormSubmitSearch {width: 8.5em;}

/* -- default for this was '96%', which wrapped it to the next line, but didn't push following line down, putting it "behind" the sumbit button. -- */
.EXLSearchFieldRibbonFormSearchFor.EXLSearchFieldRibbonFormBrowseSearchFor {
  width: 32em;
}

#exlidFacetsLightboxContainer a.EXLSubmit {
  background-color: #0075b0;
/*  background-image: linear-gradient(#5189AA, #245980); */
  background-image: linear-gradient(#30A5e0, #0075b0);  
}
.EXLFacetsLightboxTabsRibbon {
  border-bottom: 2px solid #0075b0;
}

/* Hide the scopes limiter on the Simple Search (leave it on the Advanced Search) */
/* This only applies to the other views, not Dal's
#scopesList { display: none; }
.EXLSearchFieldRibbonFormSearchFor { width: 96% }
*/

/* add the novanet logo */
#exlidSearchTile {
  background-color: lightgrey;
  background-image: url("logo-for-search-tile-200x67.png"), linear-gradient(#f7f9f9, #d8dee3, #f4f7f8);
  background-repeat: no-repeat, repeat-x;
  background-size: contain;
  padding-left:0px;
}
#exlidSearchRibbon {
  margin-left: 130px;
}


/* Quicksand is our 'Novanet' font */
#exlidSearchTileWrapper {
 font-family: QuicksandBook, Quicksand, Helvetica, Arial, sans-serif;
}
/* undo the 'Quicksand' font for the actual form fields / labels */
.EXLSearchFieldRibbonPreFilters {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}
#exlidSearchTileWrapper a:link,
#exlidSearchTile a:visited { color: #0075b0; }
/* color the Search button blue */
#exlidSearchTileWrapper input.submit {
  font-family: QuicksandBook, Quicksand, Helvetica, Arial, sans-serif;
  padding-left: 0.2em;
  padding-right: 0.2em;  background-color: #0075b0;
/*  background-image: linear-gradient(#5189AA, #245980); */
  background-image: linear-gradient(#30A5e0, #0075b0);
}

/* 'Rechercher' is longer than 'Search', so widen the button a little */
/*  (the default is 91% / 9%  at the time of writing this.)           */
.EXLCurrentLang_fr_FR #exlidSearchTileWrapper .EXLSearchFieldRibbonFormFields {
  width: 86%;
}
.EXLCurrentLang_fr_FR #exlidSearchTileWrapper .EXLSearchFieldRibbonFormSubmitSearch {
  width: 14%;
}


/* ----------------------------------------------- BRIEF RESULTS ----------------------------------------------- */

/* hide the Show bX Hot Articles thing */
#resultsHeaderNoId > .EXLCustomLayoutTile:first-child { display: none; }

.EXLTabsRibbon div li.EXLResultTab a:link, .EXLTabsRibbon div li.EXLResultTabs a:visited { 
	border-bottom: 1px solid #f2ac00;
	color: #000;
}

.EXLTabsRibbon div li.EXLResultTab a:hover, .EXLTabsRibbon div li.EXLResultTab a:focus { 
  border-bottom: 1px solid #707372;
  color: #707372;
  text-decoration: none;
}

/* --- To remove Tags & Reviews Tab ---*/
.EXLTabsRibbon div li.EXLReviewsTab {display:none;}
/* --- To remove the Requests Tab (merged with "Locations" to be "Locations and Requests" --- */
.EXLTabsRibbon div li.EXLRequestTab {display:none;}

/* add some padding between title/link and rest of the metadata */
.EXLSummaryContainer .EXLResultTitle { margin-bottom: 0.7em; }

.EXLSliderRefine a,
.EXLSliderRefine a:hover,
.EXLSliderRefine a:visited {
  background-color: #f2ac00;
  background-image: none;
  border: 1px solid #707372;
  color: white;
}
/* more slider stuff */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  color: #f2ac00;
}
.datebox {
  border: 1px solid #707372;
}
/* really define the facet sections 
.EXLFacetContainer {
  border: 1px solid #0075b0;
  padding: 0.1em;
  border-radius: 0.2em;
}
.EXLFacetContainer ol li {
  margin: 0;
  padding: 0.2em;
  border-bottom: 1px solid lightgrey;
}
.EXLFacetContainer ol li:last-child {
  border-bottom: none;
}
.EXLFacetContainer h1,
.EXLFacetContainer h3 {
  color: white;
  background-color: #30A5e0;
  background-image: linear-gradient(#0075b0, #30A5e0);
  padding: 0.2em;
  margin: 0;
  border: none;
  border-top: none;
  border-bottom: none;
  border-radius: 0.2em 0.2em 0 0;
}
.EXLFacetContainer h4{
  color: white;
  background-color: #0075b0;
  background-image: linear-gradient(#30A5e0, #0075b0);
  padding: 0.2em;
  margin: 0 0 0.4em 0;
}
.EXLFacetContainer h4:first-child {
  border-radius: 0.2em 0.2em 0 0;
}

/* hide the down arrow under 'More options' (becuase the options don't appear below, but rather above */
.EXLFacetsDisplayMore img { display: none; }


/* --- To remove Locations Tab for Alma customers .EXLTabsRibbon div li.EXLLocationsTab {display:none;}---*/
/* --- To remove Request Tab for Alma customers .EXLTabsRibbon div li.EXLRequestTab {display:none;}---*/

/* --- To add line counts for IE6/7 ---*/
.EXLResultsList td.EXLResultNumber { vertical-align: middle; display:table-cell; display:block; width:1%; }

/* --- To add line counts for IE<=8 Firefox ---*/
.EXLResultsList td.EXLResultNumber { vertical-align: middle; display:block; width:1%; }
html:not([ie8andbelow]) .EXLResultsList td.EXLResultNumber { vertical-align: middle; display:table-cell; }

/* ----------------------------------------------- MY ACCOUNT ----------------------------------------------- */

/* --- To remove "o" from left side of e-shelf ---*/
.offstage {display:none;} #exlidAdvancedSearchRibbon div.EXLSearchFieldRibbon {height:180px;}

/*--- To remove the My Databases tab in My Account ----*/
#exlidMyDatabasesTab {display:none;}

.EXLMyAccountTabsRibbon {
  border-bottom: 2px solid #0075b0;
}
.EXLMyAccountTabsRibbon div li.EXLMyAccountSelectedTab {
  border: 1px solid #0075b0;
  border-bottom: 2px solid #0075b0;
  background-color: #0075b0;
  background-image: linear-gradient(#30A5e0, #0075b0);
}

/* --- Hide the List of Historic Loans --- */
/* this is a temporary measure while we actually purge the list of historic loans */
.EXLMyAccountMainHeaderTitle a[href*="type=history"],
.EXLMyAccountMainHeaderTitle div.EXLMyAccountMainHeaderContent span.EXLMyAccountMainHeaderContentSeparator {
  display: none;
}

/* Breadcrumb from Dal.ca */
.breadcrumb dd {
    color: #707372;
    font-weight: bold;
    margin: 0 0.5em 0 0;
	display: inline-block;
}
.breadcrumb dl {
    font-size: 0.8em;
	margin: 0 0 0 1em;
}

.breadcrumb dd a, .breadcrumb dd a:link, .breadcrumb dd a:visited {
    background: url("http://libraries.dal.ca/etc/designs/dalhousie/clientlibs/global/default-css/images/div-breadcrumb.gif") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #707372;
    font-weight: normal;
    padding-right: 1em;
}

.breadcrumb dd a:hover {
    color: #f2ac00;
}

/* Advanced Search & Browse Links */
.EXLSearchFieldRibbonAdvancedSearchLink a.EXLSearchFieldRibbonAdvancedTwoLinks {
	padding-top: 1em;
}

.EXLSearchFieldRibbonAdvancedSearchLink a.EXLSearchFieldRibbonAdvancedTwoLinks {
	font-size: 100%;
}

.EXLSearchFieldRibbonBrowseSearchLink a {
	font-size: 100%;
}

/* Facets */
.EXLFacetContainer h4 {
	color: #272727;
}

/* static content on home page has default font-size of 80%. */
#exlidHomeContainer {
  font-size: 100%;
  width: 90%;
  min-width: 40em;
}
