
/* Most CSS that is common to all views is found here. */

/* @import url(http://fonts.googleapis.com/css?family=Quicksand:400,700); */

#novanet-sandbox-indicator {
  display:none; /* javascript changes this when we are in sandbox */
  position:fixed;
  top:25px;
  right:0;
  width: 20em;
  max-width: 50%;
  padding:0.5em;
  background-color:white;
  color: black;
  opacity: 0.5;
}
#novanet-sandbox-indicator:hover {
  opacity: 1;
}
#novanet-sandbox-indicator header {
  font-family: impact, sans-serif;
  font-weight:bold;
  font-size: 125%;
  background-color: transparent;
  color: black;
  opacity: 1;
  cursor: pointer;
}
#novanet-sandbox-indicator .info {
  font-family: Quicksand, Verdana, Open Sans, Helvetica, Arial, sans-serif;
  font-size:90%;
  background-color: transparent;
  color: black;
  opacity: 1;
}

/* --------------------------------  SEARCH TILE -------------------------------------------------*/


/* add the novanet logo */
#exlidSearchTile {
  background-color: lightgrey;
  background-image: url(logo-for-search-tile-200x67.png), linear-gradient(#F7F9F9, #D8DEE3, #F4F7F8);
  background-repeat: no-repeat, repeat-x;
  background-size: contain;
}
/* make room for the logo */
#exlidSearchRibbon {
  margin-left: 130px;
}
/* Quicksand is our 'Novanet' font */
#exlidSearchTileWrapper {
  font-family: Quicksand, Verdana, Open Sans, Helvetica, Arial, sans-serif;
}
/* undo the 'Quicksand' font for the actual form fields / labels */
.EXLSearchFieldRibbonPreFilters {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

#exlidSearchTileWrapper a:link,
#exlidSearchTileWrapper a:visited {
  color: #0075b0;
}

/* color the Search button blue */
#exlidSearchTileWrapper input.submit {
  font-family: Quicksand, Verdana, Open Sans, Helvetica, Arial, sans-serif;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-color: #0075b0;
  background-image: linear-gradient(#30A5e0, #0075b0);
}

/*--- To change width of advanced search button ---*/
#exlidAdvancedSearchRibbon .EXLSearchFieldRibbonFormSubmitSearch {width: 8.5em;}
#exlidAdvancedSearchRibbon .EXLSearchFieldRibbon {height:180px;}

/* -- default for this was '96%', which wrapped it to the next line,
      but didn't push following line down, putting it "behind" the sumbit button. -- */
.EXLSearchFieldRibbonFormBrowseSearchFor {
  width: 32em;
}

/* 'Rechercher' is longer than 'Search', so widen the button a little */
/*  (the default is 91% / 9%  at the time of writing this.)           */
.EXLCurrentLang_fr_FR #exlidSearchTileWrapper .EXLSearchFieldRibbonFormFields {
  width: 86%;
}
.EXLCurrentLang_fr_FR #exlidSearchTileWrapper .EXLSearchFieldRibbonFormSubmitSearch {
  width: 14%;
}

/* remove the logo and the margin for the logo on small screens */
@media screen and (max-width: 500px) {
  #exlidSearchTile {
    background-image: linear-gradient(#f7f9f9, #d8dee3, #f4f7f8);
  }
  #exlidSearchRibbon{
    margin-left: 0px;
    background-color: #ffffff;
  }
}

/*-------------------------------     FACETS       -----------------------------------------------*/

/* Nobody finds this useful */
#exlidSuggestedList { display: none; }


/*------------------------------ Facet List 'More Options' lightbox ------------------------------*/

#exlidFacetsLightboxContainer a.EXLSubmit {
  background-color: #0075b0;
  background-image: linear-gradient(#30A5e0, #0075b0);  
}
.EXLFacetsLightboxTabsRibbon {
  border-bottom: 2px solid #0075b0;
}

/* ------------------------------------ MY ACCOUNT ---------------------------------------------
   this should be in 'common.css', but the My Account pages don't
   import the custom tile that includes 'common.css'.
   ---------------------------------------------------------------------------------------------  */

.EXLMyAccountEditLink {
  display: none;
}

/* --- To remove "o" from left side of e-shelf ---*/
.offstage {display:none;}

/*--- To remove the My Databases tab in My Account ----*/
#exlidMyDatabasesTab {display:none;}

.EXLMyAccountTabsRibbon {
  border-bottom: 2px solid #0075b0;
}
.EXLMyAccountTabsRibbon div li.EXLMyAccountSelectedTab {
  border: 1px solid #0075b0;
  border-bottom: 2px solid #0075b0;
  background-color: #0075b0;
  background-image: linear-gradient(#30A5e0, #0075b0);
}

/* --- Hide the List of Historic Loans --- */
/* this is a temporary measure while we actually purge the list of historic loans */
.EXLMyAccountMainHeaderTitle a[href*="type=history"],
.EXLMyAccountMainHeaderTitle div.EXLMyAccountMainHeaderContent span.EXLMyAccountMainHeaderContentSeparator {
  display: none;
}
